#include <go60_dongle.dtsi>

&cirque_lh_listener {
    compatible = "zmk,input-listener";
    status = "okay";
    device = <&cirque_split_lh>;
};

&cirque_rh_listener {
    compatible = "zmk,input-listener";
    status = "okay";
    device = <&cirque_split_rh>;
};
