
/ {
    inputs {
        cirque_split: cirque_split@1 {
            compatible = "zmk,input-split";
            reg = <0>;
            device = <&glidepoint>;
        };
    };
};

/delete-node/ &cirque_split;

